<% provide(:title, "about") %>
<h1><%= yield(:title).upcase %></h1>
<head>
<title><%= full_title(yield(:title).capitalize) %></title>
</head>
<p>
This application is a simple way to learn rails, following the
</em></a> <a href="http://www.railstutorial.org/book">tutorial</a> and
<a href="http://screencasts.railstutorial.org/">screencast series</a>
that should help me become a middle backend developer.
</p>