<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<ul style="list-style-type:none">
  <li>Write me on <%= mail_to "rikitikitavi1989@yandex.ru", 'email' %>. </li>
  <li> Or visit me on <%= link_to 'github', 'https://github.com/rikitikitav1' %></li>
</ul>
